<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
  <head> 
    <meta type="aty-meta" name="javaLocation" content="com.thunisoft.demo.demo.aty.student.controller.StudentListController.java" th:remove="all"> 
    <meta type="aty-meta" name="cssLocation" content="css/aty/student/studentList.css" th:remove="all"> 
    <meta type="aty-meta" name="jsLocation" content="js/aty/student/studentList.js" th:remove="all"> 
    <meta type="aty-meta" name="relation-table" content="dbatytstudent.t_student" th:remove="all"> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
    <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}"> 
    <link rel="stylesheet" aty:import> 
    <link rel="stylesheet" th:href="@{/css/aty/student/studentList.css}"> 
    <title>学生列表</title> 
    <base th:href="@{/}"> 
  </head> 
  <body> 
    <div id="app" style="height:100%;width:100%"> 
      <aty-button text="增加" @click="addStudent"></aty-button> 
      <aty-table ref="table_student" @load-data="loadData" :limit="10" :pageable-data="rs" exp-file-name="学生列表" exp-title="学生列表" exp-all exp-current-page> 
        <aty-table-column aty:dict="dbatytstudent.t_student.c_name" filter-type="string"></aty-table-column> 
        <aty-table-column aty:dict="dbatytstudent.t_student.n_age" sortable></aty-table-column> 
        <aty-table-column aty:dict="dbatytstudent.t_student.d_birthday"></aty-table-column> 
        <aty-table-column aty:dict="dbatytstudent.t_student.c_desc"></aty-table-column> 
        <aty-table-column label="操作" :width="130"> 
          <template slot-scope="props"> 
            <aty-link text="编辑" @click="editStudent(props.row.id)"></aty-link> 
            <aty-link text="删除" @click="deleteStudent(props.row.id)"></aty-link> 
            <aty-link text="查看" @click="studentDetail(props.row.id)"></aty-link> 
          </template> 
        </aty-table-column> 
      </aty-table> 
      <aty-modal ref="studentWidiow" width="500" :footer-hide="true"> 
        <aty-iframe height="520px" :src="popUrl" style="padding-top: 30px;" name="studentFrame"></aty-iframe> 
      </aty-modal> 
    </div> 
    <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script> 
    <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script> 
    <script type="text/javascript" aty:import></script> 
    <script type="text/javascript" th:src="@{/js/aty/student/studentList.js}"></script>  
  </body>
</html>